<div class="container-fluid">
    <div class="row footer">
	    <div class="content-container footer-container">
	        <div class="col-xs-12 col-sm-6">
	            <p class="mission">Beta Sigma Psi, the National Lutheran College Fraternity, was founded in 1925 with the purpose of providing an environment in which the Lutheran college man can grow Spiritually, Scholastically, and Socially. Since 1962, Iota Chapter of Beta Sigma Psi has been home to more than 700 students of the University of Missouri.</p>
	            <p class="copyright"><i class="fa fa-copyright" aria-hidden="true"></i> Beta Sigma Psi {{year}}</p>
	        </div>
	        <div class="col-xs-12 col-sm-6 location">
	            <a href="https://goo.gl/maps/EhX9y8yQriM2">
	                <p><i class="fa fa-map-marker" aria-hidden="true"></i></p>
	                <p>Beta Sigma Psi</p>
	                <p>206 S College Ave</p>
	                <p>Columbia, MO 65201</p>
	            </a>
	        </div>
	    </div>
	</div>
</div>