<link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">

<div class="container-fluid content-container exec-bios">
    <h1><b>2020 Spring Executive Board</b></h1>
    <table>
        <tr>
            <div id="profile">

                <div class="profile_name">
                    <h1><strong>Nathan Wooderson</strong></h1>
                </div>

                <img src="../../assets/wooderson.jpg" alt="wooderson"/>

                <div class="profile_details">
                    <ul>
                        <li>Position: President</li>               
                        <li>Pledge Class: Fall 2018</li>  
                        <li>Year in School: Sophomore</li>  
                        <li>Major: Business Management</li>
                        <li>Hometown: Temple, Texas</li>
                        <li>Hobbies: Spending Quality Time with the Boys, Engaging in Fraternal Activities</li>
                        <li>Favorite Part about Beta Sig: Being able to walk down the hall to hang out with his brothers whenever he wants to</li>
                    </ul>
                </div>
            </div>
        </tr>
        <tr>
            <div id="profile">

                <div class="profile_name">
                    <h1><strong>Jordan Bolton</strong></h1>
                </div>

                <img src="../../assets/exec-board/jbolton.jpg" alt="hoagenson"/>

                <div class="profile_details">
                    <ul>
                        <li>Position: Vice President of New Member Education</li>               
                        <li>Pledge Class: Fall 2018</li>  
                        <li>Year in School: Junior</li>  
                        <li>Major: Business Management</li>
                        <li>Hometown: Columbia, Missouri</li>
                        <li>Hobbies: Basketball, Hanging out with Friends</li>
                        <li>Favorite Part about Beta Sig: The brotherhood it creates and holds</li>
                    </ul>
                </div>
            </div>
        </tr>
        <tr>
            <div id="profile">

                <div class="profile_name">
                    <h1><strong>Jake Holman</strong></h1>
                </div>

                <img src="../../assets/exec-board/jholman.jpg" alt="reheir"/>

                <div class="profile_details">
                    <ul>
                        <li>Position: Vice President of House Management</li>               
                        <li>Pledge Class: Fall 2018</li>  
                        <li>Year in School: Sophomore</li>  
                        <li>Major: Business Marketing</li>
                        <li>Hometown: Milwaukee, Wisconsin</li>
                        <li>Hobbies: Long walks on the beach</li>
                        <li>Favorite Part about Beta Sig: Having a strong support system he can lean on</li>
                    </ul>
                </div>
            </div>
        </tr>
        <tr>
            <div id="profile">

                <div class="profile_name">
                    <h1><strong>Tyler Bradley</strong></h1>
                </div>

                <img src="../../assets/exec-board/tbradley.jpg" alt="bradley"/>

                <div class="profile_details">
                    <ul>
                        <li>Position: Treasurer</li>               
                        <li>Pledge Class: Fall 2018</li>  
                        <li>Year in School: Sophomore</li>  
                        <li>Major: Civil Engineering</li>
                        <li>Hometown: Fort Collins, Colorado</li>
                        <li>Hobbies: Making Music, Hanging with the Boys</li>
                        <li>Favorite Part about Beta Sig: How his brothers have his back, no matter the time or place</li>
                    </ul>
                </div>
            </div>
        </tr>
        <tr>
            <div id="profile">

                <div class="profile_name">
                    <h1><strong>Jack Allen</strong></h1>
                </div>

                <img src="../../assets/exec-board/jallen.jpg" alt="allen"/>

                <div class="profile_details">
                    <ul>
                        <li>Position: Senior Recruitment Chair, Public Relations Director</li>               
                        <li>Pledge Class: Fall 2017</li>  
                        <li>Year in School: Junior</li>  
                        <li>Major: Computer Science</li>
                        <li>Hometown: Columbia, Missouri</li>
                        <li>Hobbies: Fishing, Hanging out with Friends</li>
                        <li>Favorite Part about Beta Sig: The way it allows him to get involved and connected with members of the community and the campus </li>
                    </ul>
                </div>
            </div>
        </tr>
        <tr>
            <div id="profile">

                <div class="profile_name">
                    <h1><strong>Stefan Derra</strong></h1>
                </div>

                <img src="../../assets/exec-board/sderra.jpg" alt="hain"/>

                <div class="profile_details">
                    <ul>
                        <li>Position: Junior Recruitment Chair</li>               
                        <li>Pledge Class: Fall 2019</li>  
                        <li>Year in School: Freshman</li>  
                        <li>Major: Civil Engineering</li>
                        <li>Hometown: Kansas City, Missouri</li>
                        <li>Hobbies: Soccer, Motorsports, Hiking</li>
                        <li>Favorite Part about Beta Sig: Getting to live with his brothers</li>
                    </ul>
                </div>
            </div>
        </tr>
        <tr>
            <div id="profile">

                <div class="profile_name">
                    <h1><strong>Canon Lampkin</strong></h1>
                </div>

                <img src="../../assets/exec-board/clampkin.jpg" alt="lampkin"/>

                <div class="profile_details">
                    <ul>
                        <li>Position: Junior Recruitment Chair</li>               
                        <li>Pledge Class: Fall 2018</li>  
                        <li>Year in School: Sophomore</li>  
                        <li>Major: Business Management</li>
                        <li>Hometown: Columbia, Missouri</li>
                        <li>Hobbies: Mowing Lawns, Hanging with the Boys</li>
                        <li>Favorite Part about Beta Sig: How it allows him to get involved with not only other members of greek life, but other Mizzou students in general</li>
                    </ul>
                </div>
            </div>
        </tr>
        <tr>
            <div id="profile">

                <div class="profile_name">
                    <h1><strong>John Limbaugh</strong></h1>
                </div>

                <img src="../../assets/exec-board/jlimbaugh.jpg" alt="barbosa"/>

                <div class="profile_details">
                    <ul>
                        <li>Position: Scholarship Chair</li>               
                        <li>Pledge Class: Fall 2017</li>  
                        <li>Year in School: Junior</li>  
                        <li>Major: Secondary Education</li>
                        <li>Hometown: St. Louis, Missouri</li>
                        <li>Hobbies: Spending time outdoors, painting, golf</li>
                        <li>Favorite Part about Beta Sig: The freedom to customize his room in the house however he wants, and the brotherhood</li>
                    </ul>
                </div>
            </div>
        </tr>
        <tr>
            <div id="profile">

                <div class="profile_name">
                    <h1><strong>Dominic Barbosa</strong></h1>
                </div>

                <img src="../../assets/exec-board/dbarbosa.jpg" alt="barbosa"/>

                <div class="profile_details">
                    <ul>
                        <li>Position: Director of Public Relations</li>               
                        <li>Pledge Class: Fall 2019</li>  
                        <li>Year in School: Freshman</li>  
                        <li>Major: Business Administration and Theater</li>
                        <li>Hometown: Wentzville, Missouri</li>
                        <li>Hobbies: Theatre, Acting, Tailgating</li>
                        <li>Favorite Part about Beta Sig: The brotherhood we've created</li>
                    </ul>
                </div>
            </div>
        </tr>
        <tr>
            <div id="profile">

                <div class="profile_name">
                    <h1><strong>Joey Fanara</strong></h1>
                </div>

                <img src="../../assets/exec-board/jfanara.jpg" alt="wooderson"/>

                <div class="profile_details">
                    <ul>
                        <li>Position: Risk Manager</li>               
                        <li>Pledge Class: Spring 2018</li>  
                        <li>Year in School: Junior</li>  
                        <li>Major: Personal Financial Planning</li>
                        <li>Hometown: O'Fallon, Missouri</li>
                        <li>Hobbies: Watching baseball, playing fantasy sports</li>
                        <li>Favorite Part about Beta Sig: The chapter culture</li>
                    </ul>
                </div>
            </div>
        </tr>
    </table>
</div>