<div class="container-fluid home-wrapper">
<!--- Header Image -->
	<div class="row">
	    <div class="header-img">
	        <img src="assets/house.jpg">
	    </div>
	</div>
	<div class="row three-s">
		<div class="content-container">
			<div class="col-xs-4">
				<img src="assets/transparent-cross.png">
				<p>Spiritual</p>
			</div>
			<div class="col-xs-4">
				<img src="assets/transparent-book.png">
				<p>Scholastic</p>
			</div>
			<div class="col-xs-4">
				<img src="assets/transparent-ball.png">
				<p>Social</p>
			</div>
		</div>
	</div>
	<!--- Who We Are -->
	<div class="row" id="who-we-are">
		<div class="col-xs-12">
			<div class="row">
				<div class="content-container">
					<div class="col-xs-12 section-title">
						-Who We Are-
					</div>
					<div class="col-xs-12">
						<img src="assets/2019holiday.jpg" alt="Beta Sig">
					</div>
					<div class="col-xs-12">
						<div class="text">
							<p>{{whoWeAre}}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12">
			<div class="row">
				<div class="stats content-container">
					<div class="col-xs-4">
						<div class="stat">3.00+</div>
						<hr class="divider">
						<div class="stat-description">Average GPA</div>
					</div>
					<div class="col-xs-4">
						<div class="stat">40+</div>
						<hr class="divider">
						<div class="stat-description">Active Members</div>
					</div>
					<div class="col-xs-4">
						<div class="stat">750+</div>
						<hr class="divider">
						<div class="stat-description">Alumni</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row" id="join-beta-sig">
		<div class="content-container">
			<div class="col-xs-12 section-title">
				-Join Beta Sig-
			</div>
            <div>
                <p>Please fill out our rush form <a href="https://docs.google.com/forms/d/e/1FAIpQLSc3kTP8PCZb1LIHmGf1xi9rEIGxoFen7vh_BCteN-Nch--B8w/viewform?usp=sf_link">here</a>, and one of our recruitment chairs will be in contact with you shortly!</p>
               <!-- <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSc3kTP8PCZb1LIHmGf1xi9rEIGxoFen7vh_BCteN-Nch--B8w/viewform?embedded=true" width="640" height="2040" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe> -->
            </div>
			<div class="col-xs-12 col-sm-4">
				<img class="img-rounded" src="assets/exec-board/jallen.jpg">
				<p>Jack Allen</p>
				<p>Senior Rush Chairman</p>
				<p><a href="mailto:jba8t3@mail.missouri.edu">jba8t36@mail.missouri.edu</a></p>
				<p><a href="tel:+1-573-999-4934">(573)999-4934</a></p>
			</div>
			<div class="col-xs-12 col-sm-4">
				<img class="img-rounded" src="assets/exec-board/clampkin.jpg">
				<p>Canon Lampkin</p>
				<p>Junior Rush Chairman</p>
				<p><a href="mailto:celhnz@mail.missouri.edu">celhnz@mail.missouri.edu</a></p>
				<p><a href="tel:+1-573-777-0185">(573)777-0185</a></p>
			</div>
			<div class="col-xs-12 col-sm-4">
				<img class="img-rounded" src="assets/exec-board/sderra.jpg">
				<p>Stefan Derra</p>
				<p>Junior Rush Chairman</p>
				<p><a href="mailto:swd845@mail.missouri.edu">swd845@mail.missouri.edu</a></p>
				<p><a href="tel:+1-816-666-3283">(816)666-3283</a></p>
			</div>
		</div>
	</div>
	<div class="row" id="presidents-corner">
		<div class="content-container">
			<div class="col-xs-12">
				<div class="row">
					<div class="col-xs-12 section-title">
						-President's Corner-
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<img class="img-circle president" src="assets/wooderson.jpg" alt="president" align="left"/>
						<div class="presidents-letter" >
							<p>Following an amazing semester full of meeting new people, continuing our academic success,
                                and growing in brotherhood, Beta Sigs can’t wait to get back to Mizzou in January to welcome
                                our winter semester class of new members. We’ve been working hard to adapt our culture to
                                fit the new standards for Greek Life and are excited to see what opportunities the new year will
                                bring. We are saying goodbye for a semester to some of our brothers as we welcome home
                                others who have been studying abroad this past fall, and can’t wait to hear about the
                                experiences that they have had. If you have interest in becoming a member of Beta Sigma Psi
                                in the upcoming spring or fall semesters, please feel free to reach out to one of our
                                Recruitment Chairmen or myself for any questions that you may have. With the growing
                                excitement for our brand-new philanthropy event, as well as Greek Week being just a few short
                                months away, it’s a great time to be a Beta Sig and we would love to meet you and help you get
                                the most out of your Greek life experience.
                            </p>
						</div>
						<div class="signature">
							<p>Nathan Wooderson, President</p>
							<p><a href="mailto:mwpc6c@mail.missouri.edu">mwpc6c@mail.missouri.edu</a></p>
							<p><a href="tel:+1+573-263-9589">(573)263-9589</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>