<div class="container-fluid home-wrapper">
<!--- Header Image -->
	<div class="row">
	    <div class="header-img">
	        <img src="assets/house.jpg">
	    </div>
	</div>
	<div class="row three-s">
		<div class="content-container">
			<div class="col-xs-4">
				<img src="assets/transparent-cross.png">
				<p>Spiritual</p>
			</div>
			<div class="col-xs-4">
				<img src="assets/transparent-book.png">
				<p>Scholastic</p>
			</div>
			<div class="col-xs-4">
				<img src="assets/transparent-ball.png">
				<p>Social</p>
			</div>
		</div>
	</div>
	<!--- Who We Are -->
	<div class="row" id="who-we-are">
		<div class="col-xs-12">
			<div class="row">
				<div class="content-container">
					<div class="col-xs-12 section-title">
						-Who We Are-
					</div>
					<div class="col-xs-12">
						<img src="assets/christmas2018.jpg" alt="Beta Sig">
					</div>
					<div class="col-xs-12">
						<div class="text">
							<p>{{whoWeAre}}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12">
			<div class="row">
				<div class="stats content-container">
					<div class="col-xs-4">
						<div class="stat">3.00+</div>
						<hr class="divider">
						<div class="stat-description">Average GPA</div>
					</div>
					<div class="col-xs-4">
						<div class="stat">50+</div>
						<hr class="divider">
						<div class="stat-description">Active Members</div>
					</div>
					<div class="col-xs-4">
						<div class="stat">700+</div>
						<hr class="divider">
						<div class="stat-description">Alumni</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row" id="join-beta-sig">
		<div class="content-container">
			<div class="col-xs-12 section-title">
				-Join Beta Sig-
			</div>
            <div>
                <p>Please fill out our rush form <a href="https://docs.google.com/forms/d/e/1FAIpQLSc3kTP8PCZb1LIHmGf1xi9rEIGxoFen7vh_BCteN-Nch--B8w/viewform?usp=sf_link">here</a>, and one of our recruitment chairs will be in contact with you shortly!</p>
               <!-- <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSc3kTP8PCZb1LIHmGf1xi9rEIGxoFen7vh_BCteN-Nch--B8w/viewform?embedded=true" width="640" height="2040" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe> -->
            </div>
			<div class="col-xs-12 col-sm-4">
				<img class="img-rounded" src="assets/exec-board/jallen.jpg">
				<p>Jack Allen</p>
				<p>Senior Rush Chairman</p>
				<p><a href="mailto:jba8t3@mail.missouri.edu">jba8t36@mail.missouri.edu</a></p>
				<p><a href="tel:+1-573-999-4934">(573)999-4934</a></p>
			</div>
			<div class="col-xs-12 col-sm-4">
				<img class="img-rounded" src="assets/exec-board/clampkin.jpg">
				<p>Canon Lampkin</p>
				<p>Junior Rush Chairman</p>
				<p><a href="mailto:celhnz@mail.missouri.edu">celhnz@mail.missouri.edu</a></p>
				<p><a href="tel:+1-573-777-0185">(573)777-0185</a></p>
			</div>
			<div class="col-xs-12 col-sm-4">
				<img class="img-rounded" src="assets/exec-board/chain.jpg">
				<p>Cooper Hain</p>
				<p>Junior Rush Chairman</p>
				<p><a href="mailto:cjhain@mail.missouri.edu">cjhain@mail.missouri.edu</a></p>
				<p><a href="tel:+1-816-517-6571">(816)517-6571</a></p>
			</div>
		</div>
	</div>
	<div class="row" id="presidents-corner">
		<div class="content-container">
			<div class="col-xs-12">
				<div class="row">
					<div class="col-xs-12 section-title">
						-President's Corner-
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<img class="img-circle president" src="assets/phillips.jpg" alt="president" align="left"/>
						<div class="presidents-letter" >
							<p>After another great spring semester in the books – hosting an Apple watch philanthropy raffle, increasing our overall GPA by 0.2, and being one of the first Fraternities at the University of Missouri to achieve accreditation – Beta Sigs are enjoying their summer off, or working at their internships around the country, with companies such as Anheuser Busch in St. Louis and Fox News in New York City.

                            If you are interested in rushing Beta Sigma Psi in the coming Fall or Spring semester, please don’t hesitate to contact one of our recruitment chairs or myself, which are currently working hard at recruiting our Fall 2019 Pledge class in St. Louis, Kansas City, and Columbia. While many Beta Sigs are away from Columbia during the summer we are very much looking forward to having everyone back just in time for IFC formal recruitment on August 14-17. Sign-ups for formal recruitment can be found here <a href="https://fsl.missouri.edu/ifc/ifc-recruitment/">https://fsl.missouri.edu/ifc/ifc-recruitment/</a>.

                            We are pleased to be welcoming a familiar but yet new face to our organization this year. Our current chef, Justin Jackson will be starting his first semester as our house dad, and we couldn’t be more excited to have him in a new role!</p>
						</div>
						<div class="signature">
							<p>Michael Phillips, President</p>
							<p><a href="mailto:mwpc6c@mail.missouri.edu">mwpc6c@mail.missouri.edu</a></p>
							<p><a href="tel:+1+573-263-9589">(573)263-9589</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>