.section-title {
    font-size: 40px;
    font-weight:bold;
    text-align: center;
    margin: 20px 0;
}

.home-wrapper {
    margin-top: 122px;
}

/****************\
    Home Header
\****************/
.header-img {
    width: 100%;
    position: relative;
}

    .header-img img {
        width: 100%;
        height: auto;
    }
 
/****************\
    Three s's
\****************/  
.three-s {
    background-color: #d12a27;
    color: #671817;
    padding: 20px 0;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

    .three-s img {
        max-height: 150px;
    }

/***************\
    Who We Are
\***************/
#who-we-are {
    background-color: #d8af1e;
    color: #fff;
    padding: 65px 0 0 0;
    position: relative;
}

#who-we-are:before {
    display:block;
    position:absolute;
    content:'';
    left: 0;
    width: 100%;
    height: 50px;
    background-size: 100px 100%;
    top: 0;
    background-image: -webkit-gradient(linear, 0 0, 10% 100%, color-stop(0.5, #d8af1e), color-stop(0.5, #d12a27));
    background-image: linear-gradient(15deg, #d8af1e 50%, #d12a27 50%);
}

#who-we-are:after {
    display: block;
    position: relative;
    content: '';
    width: 100px;
    height: 100px;
    bottom: -50px;
    left: 50%;
    margin-left: -50px;
    background-color: #d8af1e;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 1;
}
    
    #who-we-are img {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }
    
    #who-we-are .text {
        font-size: 16px;
        text-align: justify;
        line-height: 30px;
    }

    #who-we-are .stats {
        margin-top: 20px;
    }

    #who-we-are .stat, 
    #who-we-are .stat-description {
        text-align: center;
        font-size: 25px;
    }

    #who-we-are hr.divider {
        width: 35%;
        margin-bottom: 10px;
        margin-top: 10px;
        border-top: 2px solid #fff;
    }
    
/******************\
    Join Beta Sig
\******************/
#join-beta-sig {
    padding: 50px 0 50px 0;
    background: #fff;
    color: #000;
    position:relative;
    text-align: center;
}

    #join-beta-sig a, 
    #join-beta-sig a:visited, 
    #join-beta-sig a:hover {
        color: #000;
        text-decoration: underline;
    }

    #join-beta-sig img {
        width: 50%;
        margin-bottom: 20px;
    }
    
    #join-beta-sig p {
        font-size: 20px;
    }

/***********************\
    Presidents Corner
\***********************/
#presidents-corner {
    background-color: #d12a27;
    color: #fff;
    padding: 65px 0;
    position: relative;
}

#presidents-corner:before {
    display:block;
    position:absolute;
    content:'';
    left: 0;
    width: 100%;
    height: 50px;
    background-size: 200px 100%;
    top: 0;
    background-image: -webkit-linear-gradient(40deg, #d12a27 50%, #fff 50%);
    background-image: linear-gradient(40deg, #d12a27 50%, #fff 50%);
}

    #presidents-corner a, 
    #presidents-corner a:visited, 
    #presidents-corner a:hover {
        color: #fff;
        text-decoration: underline;
    }

.president {
    width: 20%;
    margin-right: 10px;
    margin-bottom: 10px;
}

.presidents-letter {
    line-height: 30px;
    text-align: justify;
    margin-bottom: 20px;
    font-size: 16px;
}

.signature {
    float: right;
    font-size: 16px;
}

    .signature img {
        margin-left: -8px;
    }

    .signature p {
        margin: 0;
    }

/******************\
    Mobile
\******************/
@media (max-width: 768px){
    .three-s {
        font-size: 28px;
    }
    
    .three-s img {
        max-height: 100px;
    }

    #join-beta-sig img {
        width: 45%;
    }

    .president {
        width: 40%;
    }
    .home-wrapper {
        margin-top: 70px;
    }
}

@media (max-width: 420px){
    .three-s {
        font-size: 18px;
    }
    
    .three-s img {
        max-height: 65px;
    }

    #who-we-are .text {
        font-size: 14px;
        text-align: justify;
        line-height: 20px;
    }

    #who-we-are .stat, 
    #who-we-are .stat-description {
        text-align: center;
        font-size: 20px;
    }

    #who-we-are hr.divider {
        width: 50%;
        margin-bottom: 10px;
        margin-top: 10px;
        border-top: 2px solid #fff;
    }

    #join-beta-sig img {
        width: 50%;
    }

    .president {
        width: 50%;
    }

    .presidents-letter {
        font-size: 14px;
        line-height: 20px;
    }

}