<div class="container-fluid home-wrapper">
<!--- Header Image -->
	<div class="row">
	    <div class="header-img">
	        <img src="assets/header-img.png">
	    </div>
	</div>
	<div class="row three-s">
		<div class="content-container">
			<div class="col-xs-4">
				<img src="assets/transparent-cross.png">
				<p>Spiritual</p>
			</div>
			<div class="col-xs-4">
				<img src="assets/transparent-book.png">
				<p>Scholastic</p>
			</div>
			<div class="col-xs-4">
				<img src="assets/transparent-ball.png">
				<p>Social</p>
			</div>
		</div>
	</div>
	<!--- Who We Are -->
	<div class="row" id="who-we-are">
		<div class="col-xs-12">
			<div class="row">
				<div class="content-container">
					<div class="col-xs-12 section-title">
						-Who We Are-
					</div>
					<div class="col-xs-12">
						<img src="assets/guys.png" alt="Beta Sig">
					</div>
					<div class="col-xs-12">
						<div class="text">
							<p>{{whoWeAre}}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12">
			<div class="row">
				<div class="stats content-container">
					<div class="col-xs-4">
						<div class="stat">3.00+</div>
						<hr class="divider">
						<div class="stat-description">Average GPA</div>
					</div>
					<div class="col-xs-4">
						<div class="stat">70+</div>
						<hr class="divider">
						<div class="stat-description">Active Members</div>
					</div>
					<div class="col-xs-4">
						<div class="stat">700+</div>
						<hr class="divider">
						<div class="stat-description">Alumni</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row" id="join-beta-sig">
		<div class="content-container">
			<div class="col-xs-12 section-title">
				-Join Beta Sig-
			</div>
			<div class="col-xs-12 col-sm-4">
				<img class="img-rounded" src="assets/rush-chair-1.png">
				<p>Kyle Meyer</p>
				<p>Kansas City Rush Chairman</p>
				<p><a href="mailto:kbmxr6@mail.missouri.edu">kbmxr6@mail.missouri.edu</a></p>
				<p><a href="tel:+1-816-520-4449">816-520-4449</a></p>
			</div>
			<div class="col-xs-12 col-sm-4">
				<img class="img-rounded" src="assets/rush-chair-2.png">
				<p>Drake Bratcher</p>
				<p>St. Louis Rush Chairman</p>
				<p><a href="mailto:dsb76b@mail.missouri.edu">dsb76b@mail.missouri.edu</a></p>
				<p><a href="tel:+1-603-875-0631">603-875-0631</a></p>
			</div>
			<div class="col-xs-12 col-sm-4">
				<img class="img-rounded" src="assets/rush-chair-3.png">
				<p>Shane Brannigan </p>
				<p>Chicago Rush Chairman</p>
				<p><a href="mailto:shanebrannigan@mail.missouri.edu">shanebrannigan@mail.missouri.edu</a></p>
				<p><a href="tel:+1-708-921-3267">708-921-3267</a></p>
			</div>
		</div>
	</div>
	<div class="row" id="presidents-corner">
		<div class="content-container">
			<div class="col-xs-12">
				<div class="row">
					<div class="col-xs-12 section-title">
						-President's Corner-
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<img class="img-circle president" src="assets/president.png" alt="president" align="left"/>
						<div class="presidents-letter" >
							<p>After another great spring semester—hosting Formal at the Lake of the Ozarks, winning RAMS, holding our second annual Hat Tricks for Humanity Philanthropy and much more—Beta Sigs are off enjoying their summer around the country and the world. However, we are all excited to come back for Formal Recruitment on July 6-8 and the upcoming Fall Semester in August.  Although many are away over the summer, Beta Sig is still highly focused on recruitment and house renovations all summer long, including a brand new study room. </p>
							<p>Our recruitment chairs are currently hard at work in the Kansas City, St. Louis and Chicago regions. We have several recruitment events planned for the summer in each of these major cities. In the meantime, if you are interested in rushing Beta Sigma Psi, please contact any of our three rush chairs or myself. In addition, sign ups for formal recruitment can be found here at <a target="blank" href="https://greeklife.missouri.edu/ifc/ifc-recruitment/">https://greeklife.missouri.edu/ifc/ifc-recruitment/</a>.</p>
							<p>In addition to our brand new study room, several other renovations all over the house are taking place in preparation for the weekend of Formal Recruitment. All new flooring will be put down on our main bathrooms on the second and third floor as well as a few smaller projects including painting and touchups on all three floors. By the time rushees come by for Formal Recruitment, the house will be looking better than ever before.</p>
							<p>There is a lot going at this time of year and a lot of hard work to be done, but we all greatly look forward to getting back to 206 S College Ave in the fall. Most of all, we look forward to welcoming the FS18 Associate member class to the brotherhood of Beta Sigma Psi’s Iota Chapter.</p>
						</div>
						<div class="signature">
							<img src="assets/president-signature.png" alt="signature" />
							<p>Michael Van Schoik, President</p>
							<p><a href="mailto:mev3nc@mail.missouri.edu">mev3nc@mail.missouri.edu </a></p>
							<p><a href="tel:+1-513-646-8449">513-646-8449</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>