<link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">

<div class="container-fluid content-container scholarships">
    <h1><b>Scholarships</b></h1>
    <div class="headerContainer">
        <img class="header" src="../../assets/scholarship_header.jpeg" alt="mountain">
    </div>
    <div class="container">
        <h2><b>Scholarships for Incoming Freshmen</b></h2>
        <p>Beta Sigma Psi offers several scholarship opportunities specifically for incoming freshmen, both at the chapter 
        and national levels.  The online applications for both of these scholarships can be found below. </p>
        <img src="../../assets/scholarship1.jpg" alt="cliff">
        <h2><b>Chapter Scholarships</b></h2>
        <p>The Mizzou Beta Sigma Psi Rush Scholarship can be applied for by completing the online application <a href="https://docs.google.com/forms/d/e/1FAIpQLScBU3igps6gtIirTiw8-kjwHb4g_m3IRQUAC89xU7RbSQWKHw/viewform?usp=sf_link"><b>here.</b></a></p>
        <img src="../../assets/scholarship2.jpeg" alt="theboys">
        <h2><b>National Scholarships</b></h2>
        <p>Scholarships from the national chapter for incoming freshmen can be applied for by accesing them through the Beta Sigma Psi National Scholarship page <a href="https://www.betasigmapsi.org/scholarships-for-high-school-students/"><b>here.</b></a></p>
</div>
